@charset "UTF-8";
@font-face {
  font-family: 'PingHei';
  /*字体名称*/
  src: url(PingFang.ttf);
  /*字体源文件*/ }
@font-face {
  font-family: 'PingHeiBold';
  /*字体名称*/
  src: url(PingFang-bold.ttf);
  /*字体源文件*/ }
