<section class="homebg ">
    <div class="login">
        <div class="container">
            <h4>请输入您的手机号（仅支持手机号注册）</h4>
            <input type="number" class="form-control input-lg" ng-model="register.data.phone" placeholder="输入手机号">
            <input type="text" class="form-control input-lg" ng-model="register.data.tac" placeholder="输入验证码">
        </div>
        <div class="login-submit">
            <input type="button" value="获取验证码" class="dl" ng-show="!register.data.tac" ng-click="register.getTac()">
            <!--<button type="button" class="dl" ng-show="register.countdown > 0" disabled>{{register.countdown}}</button>-->

            <button ng-click="register.next()" ng-show="register.data.tac" class="dl">下一步</button>
        </div>
        <div class="login-bot">
            <p><a ui-sref="root.login" class="return">返回</a></p>
        </div>
    </div>
</section>

<!--<div class="authentication">
    <div class="inputContainer">
        <div class="inputRow">
            <label class="lbl_title">
                <span>手机</span>
            </label>
            <input type="text" ng-model="register.data.phone" placeholder="请输入手机号码" />
        </div>
        <div class="inputRow tacRow">
            <label class="lbl_title">
                <span>验证码</span>
            </label>
            <input type="text" ng-model="register.data.tac" placeholder="请输入验证码" />
            <div class="getTacBtn" ng-show="!register.countdown" ng-click="register.getTac()">
                <span class="getTacText">获取验证码</span>
            </div>
            <button type="button" ng-show="register.countdown > 0" disabled>{{register.countdown}}</button>
        </div>
    </div>

    <div class="buttonContainer">
        <button class="blueButton" ng-click="register.next()">下一步</button>
        <a href="#" ui-sref="root.register.end">注册！</a>
    </div>
</div>-->
