<section class="homebg ">
    <div class="login">
        <div class="container">
            <h4>请设置您的密码</h4>
            <input type="text" class="form-control input-lg" ng-model="resetPassword.data.password" placeholder="输入您的密码">
            <!--<input type="password" ng-model="resetPassword.data.password1" placeholder="再次输入新密码">-->
            <!--<label class="error" ng-show="resetPassword.data.password1 && resetPassword.showError">
                <span>密码输入不一致</span>
            </label>-->
            <h6>密码为6-16个字符，有英文 字母 数字 符号构成</h6>
        </div>
        <div class="login-submit">
            <input type="button" value="完成"  class="dl"  ng-click="resetPassword.submit()" />
        </div>
        <!--<div class="login-bot">
            <p><a href="#" class="return">返回</a></p>
        </div>-->
    </div>
</section>

<!--<div class="authentication resetPassword">
    <div class="inputContainer">
        <div class="inputRow">
            <label class="lbl_title">
                <span>新密码</span>
            </label>
            <input type="password" ng-model="resetPassword.data.password" placeholder="请输入" ng-keyup="resetPassword.checkPassword()" />
        </div>
        <div class="inputRow">
            <label class="lbl_title">
                <span>确认密码</span>
            </label>
            <input type="password" ng-model="resetPassword.data.password1" placeholder="请输入" ng-keyup="resetPassword.checkPassword()" />
            <label class="error" ng-show="resetPassword.data.password1 && resetPassword.showError">
                <span>密码输入不一致</span>
            </label>
        </div>
    </div>

    <div class="buttonContainer">
        <button class="blueButton" ng-click="resetPassword.submit()">完成</button>
    </div>
</div>-->