<section class="homebg ">
    
    <div class="login container">
        <h4 class="one">仅支持用手机号或电子邮箱注册的账号</h4>
        <h4 class="two">已给您的手机  {{forgetPassword.data.phone}}  发送了验证信息</h4>
        <div class="login-text">         
            <input type="number" class="one input" ng-model="forgetPassword.data.phone" placeholder="输入手机号">
            <input type="password" class="two input" ng-model="forgetPassword.data.tac" placeholder="输入验证码">
            <div class="yzm">
                <input type="button" ng-show="!forgetPassword.countdown" value="重新发送" class="dl two" ng-click="forgetPassword.getTac()" />
                <button type="button" ng-show="forgetPassword.countdown > 0" class="dl two" disabled>{{forgetPassword.countdown}}</button>
            </div>
        </div>
        <div class="login-submit">
            
            <button class="blueButton dl one" ng-click="forgetPassword.nextone()">下一步</button>
            <button class="blueButton dl two" ng-click="forgetPassword.next()">下一步</button>
        </div>
        <!--<div class="login-bot">

            <p><a ui-sref="root.login" class="return">返回</a></p>
        </div>-->
    </div>
</section>


<!--<section class="homebg ">
    <div class="login">
        <div class="container">
            <h4>仅支持用手机号或电子邮箱注册的账号</h4>
            <div class="login">

                <input type="text" class="form-control input-lg" ng-model="forgetPassword.data.phone" placeholder="输入您的手机号或电子邮箱">
                <input type="password" class="input-lg pull-left" ng-model="forgetNext.data.tac" placeholder="输入验证码">
                <input type="button" ng-show="!forgetNext.countdown" value="重新发送" class="dl btn" ng-click="forgetNext.getTac()" />
                <button type="button" ng-show="forgetNext.countdown > 0" class="dl" disabled>{{forgetNext.countdown}}</button>
                <button class="btn btn-lg btn-block mt" ng-click="forgetNext.complete()">下一步</button>
            </div>
           
        </div>
    </div>
</section>-->